<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <a href="/">
            <img src="../../assets/images/logo.png" alt="サイトのロゴ画像" >
          </a>
          <!--<form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">-->
            <div class="header-search d-lg-inline-block d-none">
              <!--<input type="text" name="area" id="area" value="" class="form-control" placeholder="エリア" />-->
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="header-search d-lg-inline-block d-none">
              <!--<input type="text" name="keyword" id="keyword" value="" class="form-control" placeholder="キーワード" />-->
              <i class="fas fa-search"></i>
            </div>
          </form>
        </div>
        <div class="header-right-nav">
          <div class="nav-item d-sm-inline-block d-none">
            <!--ログインしているユーザー名-->
          </div>
        <div class="nav-item">
          <img class="mx-3 p-1 host-icon nav-trigger" alt="メニュー" src="/uploads/user/image/1508/AE33DBA3-CD0D-4588-94A8-9C45819C8C52.jpeg" />
          <ul class="header-nav-menu">
            <li><a href="/rooms/new">ルーム登録</a></li>
            <li><a href="/reservations">予約済みルーム一覧</a></li>
            <li><a href="/rooms/posts">登録済みルーム一覧</a></li>
            <li><a href="/users/account">設定</a></li>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <%= yield %>
  </body>
</html>
